[Desktop Entry]
Type=Application
Actions=new-window;
Categories=Viewer;Text;Reader;Novel;
Exec=/usr/bin/listera-novelreader
TryExec=/usr/bin/listera-novelreader
Name=Listera NovelReader
Name[zh_CN]=听雨小说阅读器
GenericName=Listera NovelReader
GenericName[zh_CN]=听雨小说阅读器
Comment=Chinese novel reader for txt format files
Icon=listera-novelreader
Keywords=Novel;Reader;Text;Documents;
NoDisplay=false
StartupNotify=true
Terminal=false
DBusActivatable=false
